@media(max-width:1200px) {
    .nav-bar ul li {
        margin-right: 2.6rem;
    }
}

@media(max-width:992px) {
    .top-bar,
    .navbar-brand,
    hr {
        display: none;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, .5);
        /* border-color: rgba(0,0,0,.1); */
        background: #fff;
        margin-left: auto;
        float: right;
        color: #fff;
        margin-top: 1rem;
    }
    .nav-bar ul li a {
        display: block;
        text-align: initial;
        padding: 1rem 0;
    }
    .nav-bar ul li a::after {
        display: none;
    }
    .header-txt h2 {
        font-size: 4rem;
    }
    .master-btn {
        margin-bottom: 10px;
    }
    .col {
        margin-bottom: 20px;
        text-align: center;
    }
}